.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #fff !important; /* Set background color to white */
  color: #000; /* Set text color to black */
}

.ant-layout {
  background: #fff !important; /* Set Ant Layout background to white */
}

.ant-btn-primary {
  background: #1890ff !important; /* Customize button colors if needed */
}

:where(.css-dev-only-do-not-override-1ru20fs).ant-layout {
  background: #ffffff !important;
}
